.m-image {
	height: 100vh;
}

.t-input {
	width: 16.5em;
	border: none;
}

.p-input-container-reset-password {
	width: 18em;
	border: 1px solid #1cc0d5;
	border-radius: 5px;
	background: #fff;
}

.p-input-container-reset-password-error {
	width: 18em;
	border: #FBCDCD 2px solid;
	border-radius: 5px;
	background: #fff;
}

.p-input {
	width: 15.6em;
	border: none;
}

.p-input:focus {
	outline: none;
}

.t-input:focus {
	outline: none;
}

.b-login {
	background: #545961;
	border-radius: 3px;
}

.b-signup {
	background: #fff;
	border: 1px solid #545961;
	border-radius: 3px;
}

.s-text {
	font-size: 0.78rem;
	text-decoration: none;
}

.b-login {
	width: 8.5em;
	color: #fff;
	border: none;
	padding: 8px 15px;
	font-weight: bold;
	cursor: pointer;
}

.b-signup {
	width: 8.5em;
	padding: 8px 15px;
	font-weight: bold;
	cursor: pointer;
}

.ext-login {
	margin-top: 4em;
}

.e-icon {
	cursor: pointer;
}

.v-message{
	width: 23em;
	color: #4D5B61;
	font-size: 0.6rem;
	line-height: 1.03rem;
}

.error-msg-password-reset{
		position: absolute;
    top: -75px;
    background: #2a95fd;
    font-weight: 600;
    font-size: 13px;
    line-height: 190.23%;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 6px;
    left: 0;
    text-indent: 0px;
}
/* for new button styling */
.b-reset-new {
	background: #2B3038;
  border-radius: 20px;
  height:40px;
  width: 8.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #2B3038;
  }
  
  .b-reset-new:hover {
	background:#555C68;
  border-radius: 20px;
  height:40px;
  width: 8.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #555C68;
  }
  .b-reset-new:active {
	background:#0F0F10;
  border-radius: 20px;
  height:40px;
  width: 8.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #0F0F10;
  }
  .b-reset-new:disabled{
	background:#CDCDCD;
  border-radius: 20px;
  height:40px;
  width: 8.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #CDCDCD;
  }