.m-image {
  height: 100vh;
}

.p-input-container-forget {
  width: 18em;
  height: 35px;
  border: 1px solid #1cc0d5;
  border-radius: 5px;
  background: #fff;
  padding: 2px;
  margin: 0px;
  margin-left: -3%;
}

.p-input-container-forget-error {
  width: 18em;
  height: 35px;
  border: #fbcdcd 2px solid;
  border-radius: 5px;
  background: #fff;
  padding: 2px;
  margin: 0px;
  margin-left: -3%;
}

.box-error-forget {
  margin-top: 100px;
}

.p-input {
  width: 16.5em;
  border: none;
}

.p-input:focus {
  outline: none;
}

.b-login {
  background: #545961;
  border-radius: 3px;
}

.b-signup {
  background: #fff;
  border: 1px solid #545961;
  border-radius: 3px;
}

.s-text {
  font-size: 0.78rem;
  text-decoration: none;
}

.b-login {
  width: 8.5em;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
}

.b-signup {
  width: 8.5em;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
}

.otp-error {
  border: none;
  background: #d9efd8;
}

.s-select {
  background: url('../../static/images/chevron-small-down.png') no-repeat;
  appearance: none;
  padding-right: 1.7em;
  border: none;
  border-right: 1px solid #1cc0d5;
  height: 2.8em;
  background-position: 90% 50%;
  cursor: pointer;
  padding-left: 1em;
}

.s-select:focus {
  outline: none;
  cursor: pointer;
}

.n-input {
  width: 13.7em;
  padding-left: 2em;
  border: none;
}

.n-input:focus {
  outline: none;
}

.sub-text {
  color: #95a0a9;
  margin: '-2% 0% 0% 0%';
  width: 123px;
  left: 152.05px;
  top: 395.48px;
}
.input-form {
  width: 18em;
  border: none;
  border-radius: 5px;
  background: #fff;
}

.input-form:hover:active:focus {
  width: 18em;
  border: none;
  border-radius: 5px;
  background: #fff;
}

.p-signin-frm {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.p-resent-link {
  width: 296.95px;
  height: 59px;
  left: 151.59px;
  top: 425.48px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  align-items: center;
  color: #4d5b61;
  margin-top: 2%;
}
