.m-image{
	height: 100vh;
}

.p-input-container{
	width: 18em;
	border: 1px solid #1cc0d5;
	border-radius: 5px;
	background: #fff;
}

.forget-password-m {
	margin-top: 20%;
}

.enter_your_email{font-weight: bold;}

.p-input{
	width: 16.5em;
	border:none;
}

.p-input:focus{
	outline: none;
}

.b-login{
	background: #545961;
	border-radius: 3px;
}

.b-signup{
	background: #fff;
	border: 1px solid #545961;
	border-radius: 3px;
}

.s-text{
	font-size: 0.78rem;
	text-decoration: none;
	margin-bottom: 0;
	color: #646464;
	padding: 0;
}

.b-login{
	width: 8.5em;
	color: #fff;
	border: none;
	padding: 8px 15px;
	font-weight: bold;
	cursor: pointer;
}

.b-signup{
	width: 8.5em;
	padding: 8px 15px;
	font-weight: bold;
	cursor: pointer;
}

.otp-error{
	border: none;
	background: #d9efd8;
}

.s-select{
	background: url("../../static/images/chevron-small-down.png") no-repeat;
	appearance: none;
	padding-right: 1.7em;
    border: none;
    border-right: 1px solid #1cc0d5;
    height: 2.8em;
    background-position: 90% 50%;
    cursor: pointer;
    padding-left: 1em;
}

.s-select:focus{
	outline: none;
	cursor: pointer;
}

.n-input{
	width: 13.7em;
    padding-left: 2em;
    border:none;
}

.n-input:focus{
	outline:none;
}

/* for new button styling */
.b-reset-new {
	background: #2B3038;
  border-radius: 20px;
  height:40px;
  min-width: 120px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #2B3038;
  }
  
  .b-reset-new:hover {
	background:#555C68;
  border-radius: 20px;
  height:40px;
  min-width: 120px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #555C68;
  }
  .b-reset-new:active {
	background:#0F0F10;
  border-radius: 20px;
  height:40px;
  min-width: 120px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #0F0F10;
  }
  .b-reset-new:disabled{
	background:#CDCDCD;
  border-radius: 20px;
  height:40px;
  min-width: 120px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	font-size:13px;
  font-weight:700;
  text-transform: uppercase;
  cursor: pointer;
  padding:8px 15px;
  border: 1px solid #CDCDCD;
  }


