@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/*General css*/
body {
    background: #fff;
    font-family: 'Open Sans', ;
}
li{
	list-style:none;
}
ul{
	padding:0;
}
a {
  color: #fff;
  transition: 0.5s;
}

a:hover, a:active{
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
.row{
	margin:0px;
}

/*reset-success screen*/
.reset-pass-block{
	display: flex;
    justify-content: center;
    align-items: center;
}
.reset-success-lft {
    max-width: 516px;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.reset-success-lft h2{
	font-weight: bold;
    font-size: 42px;
    line-height: 57px;
    color: #EF6C00;
	margin-bottom:10px;
}
.reset-success-lft p{
	font-weight: 600;
	font-size: 24px;
	line-height: 22px;
	color: #4D5B61;
	margin-bottom:40px;
}

.reset-link-btn{
	background: #fff;
	border: 1px solid;
	border-color:rgba(63,68,76,.48);
    border-radius: 4px;
    width: 136px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #3F444C;
}
.reset-link-btn:hover{
	background: #545961;
	border: 1px solid #545961;
	color:#fff;
	cursor: grab;

}

.reset-right-block{
	height: 100%;
	display:flex;
    justify-content: center;
    align-items: center;
	width:100%;
}
.reset-success-right {
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255,136,30,.1);
    max-height: 346px;
    height: 100%;
    width: 100%;
    max-width: 346px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
	
}
@media(max-width:768px){
	.reset-success-buttns{
		    max-width: 300px;
	}
}
@media(max-width:767px){
	

.reset-success-lft {
	margin-top: 15%;
    margin-right: 10%;
    margin-left: 10%;
	text-align: center;
}
.reset-success-buttns{
	
	    margin-bottom: 50px;
}
.reset-link-btn{
	margin:0 auto;
}
.reset-success-lft p{
	line-height:34px;
}
.reset-success-right{
	margin:0 auto;
}
.reset-right-block{
	display:block;
}
}
@media(max-width:325px){
	.reset-pass-block{
		padding-left:15px;
		padding-right:15px;
	}
	.reset-success-right{
		max-height:295px;
		max-width:295px;
	}
}
/* new button */
.auth-password-reset-new{
	background: #2B3038;
	border-radius: 20px;
	height:40px;
	max-width: 120px;
	margin-top: 15px ;
	  display:flex;
	  justify-content:center;
	  align-items:center;
	  color:#fff;
	  font-size:13px;
	font-weight:700;
	text-transform: uppercase;
	cursor: pointer;
	padding:8px 15px;
	border: 1px solid #2B3038;
	
  }
  
  .auth-password-reset-new:hover {
	background:#555C68;
	border-radius: 20px;
	height:40px;
	max-width: 120px;
	margin-top: 15px ;
	  display:flex;
	  justify-content:center;
	  align-items:center;
	  color:#fff;
	  font-size:13px;
	font-weight:700;
	text-transform: uppercase;
	cursor: pointer;
	padding:8px 15px;
	border: 1px solid #555C68;
  }
  .auth-password-reset-new:active {
	background:#0F0F10;
	border-radius: 20px;
	height:40px;
	max-width: 120px;
	margin-top: 15px ;
	  display:flex;
	  justify-content:center;
	  align-items:center;
	  color:#fff;
	  font-size:13px;
	font-weight:700;
	text-transform: uppercase;
	cursor: pointer;
	padding:8px 15px;
	border: 1px solid #0F0F10;
  }
  .auth-password-reset-new:disabled{
	background:#CDCDCD;
	border-radius: 20px;
	height:40px;
	max-width: 120px;
	margin-top: 15px ;
	  display:flex;
	  justify-content:center;
	  align-items:center;
	  color:#fff;
	  font-size:13px;
	font-weight:700;
	text-transform: uppercase;
	cursor: pointer;
	padding:8px 15px;
	border: 1px solid #CDCDCD;
  }
/*end*/
